# reveal defaults
.idea/
*.iml
*.iws
*.eml
out/
.DS_Store
.svn
log/*.log
tmp/**
node_modules/
.sass-cache
css/reveal.min.css
js/reveal.min.js

# hide local copy of reveal.js
.travis.yml
Gruntfile.js
bower.json
css/
demo.html
js/
lib/
package.json
plugin/
test/
